<div>
    <form name="searchUser" ng-submit="search(userName)">
        <input type="search" required placeholder="Github Username" ng-model="userName" />
        <input type="submit" value="Search" />
    </form>
</div>
