<h2>{{repo.name}}</h2>

<div>
    Open Issues:  {{repo.open_issues_count}}
</div>

<div>
    <ul>
        <li ng-repeat="user in repo.contributors">
            <img class="img-circle" ng-src="{{user.avatar_url}}" title="{{user.name}}" height="100" width="100">
            <a href="#/user/{{user.login}}">{{user.login}}</a>
        </li>
    </ul>
</div>

<a href="#/main">Back to Search</a>
<a href="#/user/{{repo.owner.login}}">Back to {{repo.owner.login}}</a>