<div>
    <h2>Github ID: {{user.login}}</h2>
    <h2>Name: {{user.name}}</h2>
    <div class="bg-warning">
        {{ error }}
    </div>
</div>
<div>
    <img class="img-circle" ng-src="{{user.avatar_url}}" title="{{user.name}}" height="200" width="200">
</div>

Order:
<select ng-model="repoSortOrder">
    <option value="+name">Name</option>
    <option value="-stargazers_count">Stars</option>
    <option value="+language">Language</option>
</select>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Stars</th>
            <th>Language</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
            <td><a href="#/repo/{{user.login}}/{{repo.name}}">
                    {{repo.name}}
                </a>
            </td>
            <td>{{repo.stargazers_count | number}}</td>
            <td>{{repo.language}}</td>
        </tr>
    </tbody>
</table>
<a href="#/main">Back to Search</a>